---
title: Signal Sciences Service Broker for PCF
owner: Partners
---

This documentation describes the Signal Sciences Service Broker for Pivotal Cloud Foundry (PCF). 

PCF Operators [download](https://network.pivotal.io/) and install the Signal Sciences Service Broker tile to expose the [Signal Sciences](http://signalsciences.com) application security service in the Marketplace. Developers can then integrate Signal Sciences with their apps by embedding the Signal Sciences agent in their app code and binding the service to their app from Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

## <a id="overview"></a>Overview

[Signal Sciences](http://signalsciences.com) gives you the insights you need to prioritize your security resources to address attacks as they occur. With greater visibility and awareness, you can make informed decisions and confidently run your web applications. Signal Sciences is modern web application security.

### <a id="features"></a>Key Features

* Visibility of malicious and anomalous web traffic.
* Protection against malicious traffic that does not disrupt legitimate traffic.
* Integrations with third-party DevOps tools and SIEM solutions.
* Enables visibility and protection over the business risk of applications, e.g. account takeover, high risk transactions, vulnerability discovery, and policy validation.

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Signal Sciences Service Broker for PCF details:</dt>
<dd><strong>Version</strong>: v0.0.24 </dd>
<dd><strong>Release date</strong>: March 27, 2017</dd>
<dd><strong>Software component version</strong>: By default the latest version will be downloaded with every deployment of your app.</dd>
<dd><strong>Compatible Ops Manager version(s)</strong>: v1.6.x, v1.7.x, 1.8.x, and v1.9.x</dd>
<dd><strong>Compatible Elastic Runtime version(s)</strong>: v1.6.x, v1.7.x, and v1.8x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements

You must have a Signal Sciences license and agent key to use this product. You can purchase these by contacting pcf@signalsciences.com.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback List](mailto:pivotal-cf-feedback@pivotal.io).

## <a id='t-shooting'></a> Troubleshooting

For help with troubleshooting this product, contact [Signal Sciences support](https://dashboard.signalsciences.net/support).



