---
title: Signal Sciences Service Broker for Pivotal Platform
owner: Partners
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>


This documentation describes the Signal Sciences Service Broker for Pivotal Platform. 

Pivotal Platform Operators [download](https://network.pivotal.io/products/signal-sciences-service-broker/) and install the Signal Sciences Service Broker tile to expose the [Signal Sciences](http://signalsciences.com) application security service in the Marketplace. Developers can then integrate Signal Sciences with their apps by embedding the Signal Sciences agent in their app code and binding the service to their app from Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

## <a id="overview"></a>Overview

[Signal Sciences](http://signalsciences.com) gives you the insights you need to prioritize your security resources to address attacks as they occur. With greater visibility and awareness, you can make informed decisions and confidently run your web applications. Signal Sciences is modern web application security.

### <a id="features"></a>Key Features

* Visibility of malicious and anomalous web traffic.
* Protection against malicious traffic that does not disrupt legitimate traffic.
* Integrations with third-party DevOps tools and SIEM solutions.
* Enables visibility and protection over the business risk of applications, e.g. account takeover, high risk transactions, vulnerability discovery, and policy validation.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Signal Sciences Service Broker for Pivotal Platform:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 27, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>By default, the latest version will be downloaded with every deployment of your app.</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.1, 2.2, 2.3, 2.4, and 2.5</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>2.1, 2.2, 2.3, 2.4, 2.5, and 2.6</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Bionic</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, GCP, vSphere, Azure, and OpenStack </td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

You need a 30-day free-trial license from Signal Sciences. 
You can request a trial license [here](https://info.signalsciences.com/request-a-trial-pivotal-signal-sciences)
or by emailing <a href="mailto:pcf@signalsciences.com">pcf@signalsciences.com</a>.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Platform Feedback List](mailto:pivotal-cf-feedback@pivotal.io).

## <a id='t-shooting'></a> Troubleshooting

For help with troubleshooting this product, contact [Signal Sciences support](https://dashboard.signalsciences.net/support).



