---
title: Signal Sciences Service Broker for PCF Release Notes
owner: Partners
---

This topic provides release notes for Signal Sciences Service Broker for Pivotal Cloud Foundry (PCF).

##<a id="0025"></a> v0.0.25

* Pivotal tile update to resolve CVE-2017-4975.

##<a id="0024"></a> v0.0.24

* Buildpack optimizations.
* Add configuration option for specifying `SIGSCI_AGENT_VERSION`.
* Add configuration option for specifying `SIGSCI_REQUIRED`.

**Release Date:** March 27, 2017

##<a id="0012"></a> v0.0.12

**Release Date:** December 22, 2016