---
title: Signal Sciences Service Broker for PCF Release Notes
owner: Partners
---

This topic provides release notes for Signal Sciences Service Broker for Pivotal Cloud Foundry (PCF).

##<a id="0026"></a> v0.0.28

**Release Date:** September 7, 2017

* Tile update for bosh 2.
* Bug fix with adding install script to an existing .profile.d directory.

##<a id="0026"></a> v0.0.26

**Release Date:** May 11, 2017

* Pivotal tile update to resolve CVE-2017-4975.

##<a id="0024"></a> v0.0.24

**Release Date:** March 27, 2017

* Buildpack optimizations.
* Add configuration option for specifying `SIGSCI_AGENT_VERSION`.
* Add configuration option for specifying `SIGSCI_REQUIRED`.

##<a id="0012"></a> v0.0.12

**Release Date:** December 22, 2016
